*   {margin: 0px;padding: 0px;list-style: none;outline: none; font-family: 'Noto Sans KR', sans-serif;}

#wrap   {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border: 70px solid darksalmon;
    box-sizing: border-box;
}

#footerWrap {
    position: absolute;
    width: 100%;
    height: 42px;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    background: lightgray;
    box-sizing: border-box;
}
#footerWrapTime {
    position: absolute;
    right: 0;
    width: 130px;
    font-size: 12px;
    text-align: center;
    margin: 4px;
    padding-left: 8px;
    border-left: 2px solid gray;
}

.footerIconWrap {
    position: relative;
    height: 42px;
    width: 50px;
    text-align: center;
    float: left;
    cursor: pointer;
    transition: all 0.5s;
}
#footerWrap div.footerIconWrap:nth-of-type(3) svg  {
    margin-top: 9px;
}
.footerIconWrap:hover   {
    background: rgba(100,100,255,0.3);
}
.footerIconWrapDiv  {
    width: 32px;
    margin: 0 auto;
}
.footerIconWrapDiv svg  {
    width: 100%;
    margin-top: 5px;
}

#mainWrapBg {
    width: 56vmin;
    height: 56vmin;
    top: 11%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 0px #c0c;
}
#mainWrapBgGradient {
    height: 100%;
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
}
#mainWrapBgTree {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://78.media.tumblr.com/6fbf1edc445d7210e02d20e6e342287a/tumblr_ozop06XvsX1vq64mxo1_1280.png) 55% 5vmin no-repeat;
    background-size: 70%;
    filter:
        brightness(0%)
        blur(.5px);
}
#mainWrapBgLines    {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background: repeating-linear-gradient(
        rgba(0, 0, 0, .125),
        rgba(0, 0, 0, .125) 2.5%,
        transparent 2.5%,
        transparent 5.25%
    );
    animation: lines linear infinite .75s;
}
#mainWrapBgText {
    font-size: 8vh;
    color: white;
    text-align: center;
    position: fixed;
    z-index: 1;
    margin-top: -3%;
    width: 33%;
    font-family: 'Yellowtail', cursive;
    animation: textFlicker 1.5s infinite alternate;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

@keyframes textFlicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #c0c ,
        0 0 80px #c0c ,
        0 0 90px #c0c ,
        0 0 100px #c0c ,
        0 0 150px #c0c ;
    
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }

@keyframes lines {
    to {
      background-position: 0 4vmin;
    }
  }

/* 창 상단 헤더 부분 */
.addTopBtnContainer {
    background: gray;
    position: relative;
    height: 24px;
    z-index: 1;
    width: 100%;
}
.addTopBtnContainerTitle    {
    color: white;
    margin-left: 5px;
    font-family: 'EB Garamond', serif;
}
.addTopBtnContainerMin  {
    position: absolute;
    width: 12px;
    height: 12px;
    background: rgb(156, 241, 135);
    top: 6px;
    right: 30px;
    border-radius: 12px;
    cursor: pointer;
}
.addTopBtnContainerClose    {
    position: absolute;
    width: 12px;
    height: 12px;
    background: coral;
    top: 6px;
    right: 10px;
    border-radius: 12px;
    cursor: pointer;
}

.codeWrap {
    position: absolute;
    width: 35%;
    height: 85%;
    top: 3%;
    right: 2%;
    z-index: 2;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.5s;
    transition-property:width,height;
    border: 3px solid gray;
}

#innerContainer {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-bottom: 30px;
}

#stickyBarTop  {
    width: 101%;
    height: 12.5%;
    background-color: black;
    background-image: repeating-linear-gradient(125deg, transparent, transparent 250px, rgba(255,255,255,0.8) 250px, rgba(255,255,255,0.8) 500px);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
    transform-origin: right bottom;
    transition: all 2s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 4;
}
#stickyBarTop::after   {
    content: "";
    width: 101%;
    height: 600%;
    background-color: black;
    position: absolute;
    top: -600%;
    z-index: 4;
}
#stickyBarBottom    {
    width: 101%;
    height: 12.5%;
    background-color: black;
    background-image: repeating-linear-gradient(55deg, transparent, transparent 250px, rgba(255,255,255,0.8) 250px, rgba(255,255,255,0.8) 500px);
    position: absolute;
    bottom: -14.9%;
    right: 0;
    transition: all 2s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 4;
}

#firstBg    {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    overflow-y: scroll;
}
#firstBg::-webkit-scrollbar {
    width: 9px;
    background-color: black;
}
#firstBg::-webkit-scrollbar-track   {
    border-radius: 10px;
}
#firstBg::-webkit-scrollbar-thumb   {
    border-radius: 10px;
    background-clip: border-box;
    background-color: #c0c;
    border:1px solid transparent;
}
.firstLi    {
    color: chartreuse;
    display: flex;
    position: relative;
    width: 100%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.firstLiDiv    {
    width: 20px;
    text-align: right;
    padding-right: 10px;
    margin: 1px 0;
    border-right: 1px solid gray;
    margin-right: 10px;
}
.firstLiP   {
    width:100%;
}

.changeLineText {
    background: black;
    color: chartreuse;
    width: 100%;
    border: 0px;
    font-size: 16px;
}
.changeLineText:focus {
    outline: none;
}

#firstUl li:last-child {
    margin-bottom: 35px;
}

#firstLastLi    {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 35px;
    width: 100%;
    display: flex;
}
#firstliLastInput   {
    height: 100%;
    width: 95%;
    background: black;
    color: aquamarine;
    font-size: 2vh;
    padding-left: 10px;
}
#firstliLastInput::placeholder {
    color:gray;
}
#firstliLastInput:focus {
    outline: none;
}
#firstliLastButton   {
    width: 100px;
    height: 100%;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid cadetblue;
    box-sizing: border-box;
}

/* 계산기 css */

#UIBox  {
    width: 66px;
    height: 63px;
    padding: 12px;
    padding-top: 14px;
    position: absolute;
    left: 30px;
    top: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;
    transition-property: width,height,padding;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}
#UIBox.active   {
    padding: 17px;
    padding-top: 21px;
    width: 175px;
    height: 175px;
}

#UIBoxInner {
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    transition:0.5s;
    transition-property: width,height;
}
.UIBoxInnerDiv {
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 75px;
    background: lavender;
    transition: all 0.5s;
    position: absolute;
    transform: translate(calc(12px*var(--x)),calc(12px*var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
    transition-delay: calc(0.1s*var(--i));
}
#UIBox.active .UIBoxInnerDiv   {
    width: 50px;
    height: 50px;
    transform: translate(calc(40px*var(--x)),calc(40px*var(--y)));
    background: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}

.UIBoxInnerDiv::before  {
    position: fixed;
    width: fit-content;
    padding: 2px 15px;
    background: black;
    height: 30px;
    line-height: 30px;
    color: white;
    z-index: 3;
    border-radius: 5px;
    margin-left: -90px;
    margin-top: -7px;
    opacity: 0;
    transition: all 0.5s;
    visibility: hidden;
}
.UIBoxInnerDiv:hover::before    {
    opacity: 1;
    visibility:visible;
}
#UIBox.active .UIBoxInnerDiv:nth-of-type(1)::before   {
    content: "바로가기";
}
#UIBox.active .UIBoxInnerDiv:nth-of-type(2)::before   {
    content: "시간보기";
}
#UIBox.active .UIBoxInnerDiv:nth-of-type(3)::before   {
    content: "날씨보기";
}
#UIBox.active .UIBoxInnerDiv:nth-of-type(4)::before   {
    content: "계산기";
}
#UIBox.active .UIBoxInnerDiv:hover {
    box-shadow: 3px 3px 9px lightgrey;
    top: -5px;
}
.UIBoxInnerDiv svg  {
    margin-top: 25px;
    width: 0px;
    height: 0px;
    transition: all 0.5s;
    filter: invert(1);
}
#UIBox.active .UIBoxInnerDiv svg    {
    width: 24px;
    height: 24px;
    margin-top: 13px;
}

#calculatorWrap {
    width: 320px;
    height:509px;
    position: absolute;
    left: 30px;
    top: 10%;
    background: white;
    border-radius: 5px;
    box-sizing: border-box;
    z-index: 4;
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
    transition-property:width,height;
    border: 3px solid gray;
}
#calculatorWrapCotainer {
    height: 485px;
    overflow: hidden;
    border-radius: 0px;
    transition: all 0.5s;
}
#calculatorForm {

}
#calculatorInput{
    border: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 3px solid gray;
    text-align: right;
    padding: 8px;
    box-sizing: border-box;
    font-size: 2.5vh;
    font-weight: bold;
    background: black;
    color: white;
    border-bottom: 1px solid chartreuse;
}
#calculatorPad  {

}
#calculatorUl   {

}
.calculatorLi   {
    width: 25%;
    text-align: center;
    float: left;
    height: 85px;
    line-height: 85px;
    background: linear-gradient(135deg, #2a2a2a, #000000);
    box-sizing: border-box;
    font-size: 2.7vh;
    font-weight: 500;
    color: white;
}
.calculatorLi:nth-of-type(8),.calculatorLi:nth-of-type(15) {
    float: right;
    height: 170px;
    line-height: 170px;
}
.calculatorLi:nth-of-type(16)   {width: 50%;}

#calculatorTopDiv   {margin-left: 275px;}
#calculatorTopDivClose  {margin-left: 295px; background: coral;}

/* 날씨 css */

.weatherWrap    {
    position: absolute;
    width: 17%;
    height: 30%;
    bottom: 55%;
    top: 8%;
    left: 15%;
    overflow: hidden;
    border-radius: 5px;
    border: 3px solid gray;
    z-index: 5;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition: 0.5s;
    transition-property: width,height;
}
.weatherWrapContainer   {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
}
.weatherWrap div,.weatherWrap p    {
    position: absolute;
}
.weatherWrapTemperature {
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    color: transparent;
    -webkit-background-clip: text;
    top: -21px;
    left: 8%;
    font-weight: 400;
    font-size: 152px;
    font-family: 'EB Garamond';
}
.weatherWrapWeacther    {
    bottom: 10px;
    right: 5%;
}
.weatherWrapWeacther i  {
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 150px;
}
.weatherWrapPlace   {
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: 500;
    font-size: 2vh;
}

/* 플레이어 css */
.playerWrap {
    position: absolute;
    width: 30%;
    height: 40%;
    top: 49%;
    left: 2%;
    z-index: 2;
    overflow: hidden;
    border-radius: 40px;
    border: 1px solid #fff3eb;
    box-shadow: 0 2px 2px rgb(255 107 0 / 25%), 0 4px 4px rgb(255 107 0 / 20%), 0 8px 8px rgb(255 107 0 / 15%), 0 16px 16px rgb(255 107 0 / 10%), 0 24px 24px rgb(255 107 0 / 5%);
    transition: 0.5s;
    transition-property: width,height,transform;
}
.playerWrap .addTopBtnContainer {
    padding: 0 35px;
    box-sizing: border-box;
    background: #fffaee;
}
.playerWrap .addTopBtnContainerTitle    {
    background-image: linear-gradient(to top, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
}
.playerWrap .addTopBtnContainerMin  {
    right: 42px;
    top: 7px;
}
.playerWrap .addTopBtnContainerClose    {
    right: 22px;
    top: 7px;
}
.playerContainer    {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fffaee;
}
.playerContainerUrlBox  {
    position: relative;
}
.playerContainerUrlInner    {
    padding-top: 25px;
    text-align: right;
}
.playerContainerUrlInnerDiv {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #f26600;
    cursor: pointer;
    margin-right: 20px;
    z-index: 3;
    position: absolute;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.5s;
}
.playerContainerUrlInnerDiv.rotate  {
    transform: rotate(180deg);
}
.playerContainerUrlInnerInput   {
    border: 2px solid #f26600;
    height: 54px;
    border-radius: 50px;
    width: 10%;
    font-size: 2vh;
    padding-left: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    transition: all 0.5s;
}
.playerContainerUrlInnerInput.open   {
    width: 92%;
}
.playerContainerUrlTitel    {
    position: relative;
    width: 100%;
    height: 30%;
    text-align: center;
}
.playerContainerUrlTitelP   {
    font-size: 2.5vh;
    color: coral;
}
.playerContainerUrlTitelTime    {}
.playerContainerController  {
    width: 100%;
    text-align: center;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playerContainerController div {
    transition: all 0.2s;
    cursor: pointer;
}
.playerContainerController div:hover{
    background: white;
    box-shadow: 0 0px 2px rgb(255 107 0 / 25%), 0 0px 4px rgb(255 107 0 / 20%), 0 0px 8px rgb(255 107 0 / 15%), 0 0px 16px rgb(255 107 0 / 10%), 0 0px 24px rgb(255 107 0 / 5%);
}
.playerContainerControllerPrev  {
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(to bottom left, #fff8e7, #ffe1cc);
}
.playerContainerControllerOnOff {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50px;
    background: white;
    border: 2px solid coral;
    margin: 0 20px;
    transition: all 0.7s ease-in-out;
}
.playerContainerControllerNext  {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(to bottom left, #fff8e7, #ffe1cc);
}

/* 플레이어 url 부분 */
.UrlContainer   {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fffaee;
}
.UrlContainerForm   {
    padding-top: 25px;
    text-align: right;
    position: relative;
}
.UrlContainerFormIcon   {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #f26600;
    cursor: pointer;
    margin-right: 20px;
    z-index: 3;
    position: absolute;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.5s;
}
.UrlContainerFormIcon.rotate  {
    transform: rotate(180deg);
}
.UrlContainerFormInput  {
    border: 2px solid #f26600;
    height: 54px;
    border-radius: 50px;
    width: 10%;
    font-size: 2vh;
    padding-left: 20px;
    box-sizing: border-box;
    margin-right: 20px;
    transition: all 0.5s;
}
.UrlContainerFormInput.open   {
    width: 92%;
}
.UrlContainerObj    {}
.UrlContainerObjInner   {}