*   {margin: 0px;padding: 0px;list-style: none;outline: none;}

#wrap   {
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: gray;
}

#innerWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    transition: all 1s;
    overflow: hidden;
}

#innerContainer {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-bottom: 30px;
}

#stickyBarTop  {
    width: 101%;
    height: 12.5%;
    background-color: black;
    background-image: repeating-linear-gradient(125deg, transparent, transparent 250px, rgba(255,255,255,0.8) 250px, rgba(255,255,255,0.8) 500px);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
    transform-origin: right bottom;
    transition: all 2s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}
#stickyBarTop::after   {
    content: "";
    width: 101%;
    height: 600%;
    background-color: black;
    position: absolute;
    top: -600%;
}
#stickyBarBottom    {
    width: 101%;
    height: 12.5%;
    background-color: black;
    background-image: repeating-linear-gradient(55deg, transparent, transparent 250px, rgba(255,255,255,0.8) 250px, rgba(255,255,255,0.8) 500px);
    position: absolute;
    bottom: -14.9%;
    right: 0;
    transition: all 2s;
    transition-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
}

#firstBg    {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
    overflow-y: scroll;
}
.firstLi    {
    color: chartreuse;
    display: flex;
    position: relative;
    width: 100%;
}
.firstLiDiv    {
    width: 20px;
    text-align: right;
    padding-right: 10px;
    margin: 1px 0;
    border-right: 1px solid gray;
    margin-right: 10px;
}
.firstLiP   {
    width:100%;
}

.changeLineText {
    background: black;
    color: chartreuse;
    width: 100%;
    border: 0px;
    font-size: 16px;
}
.changeLineText:focus {
    outline: none;
}

#firstUl li:last-child {
    margin-bottom: 35px;
}

#firstLastLi    {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 35px;
    width: 100%;
    display: flex;
}
#firstliLastInput   {
    height: 100%;
    width: 95%;
    background: black;
    color: aquamarine;
    font-size: 2vh;
    padding-left: 10px;
}
#firstliLastInput::placeholder {
    color:gray;
}
#firstliLastInput:focus {
    outline: none;
}
#firstliLastButton   {
    width: 100px;
    height: 100%;
    background: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid cadetblue;
    box-sizing: border-box;
}